<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>Calculadora de IMC</title>
    <link rel="shortcut icon" href="/Calculadora-IMC/public/img/favicon.ico">
    <link href="/Calculadora-IMC/public/styles/style.css" rel="stylesheet">
    <script src="/Calculadora-IMC/public/script/script.js"></script>
</head>

<body>
    <div>
        <form id="formulario">
            <fieldset>
                <legend>Calculo IMC</legend>

                <label for="kilos">Kilos:</label>
                <input name="kilos" type="text" />

                <label for="metros">Metros:</label>
                <input name="metros" type="text" />

                <label for="centimetros">Centímetros:</label>
                <input name="centimetros" type="text" />

                <label for="imc">IMC = </label>
                <input name="imc" type="text" disabled="disabled" />

                <a href="#" onclick="calcular();">Calcular</a>
            </fieldset>
        </form>
    </div>
</body>

</html>